<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contratc List</title>
</head>
<body>
<table>
    <tr>

        <th>position</th>
        <th>initDate</th>
        <th>endDate</th>
    </tr>
    <tr th:each="contracts:${contracts}">
        <td>
            <table>
                <tr th:each="employees:${contracts.employee}">
                    <td th:text="${employees.firstName}">123</td>
                    <td th:text="${employees.lastName}">Jhon</td>
                </tr>
            </table>
        </td>
        <td th:text="${contracts.initDate}">Doe</td>
        <td th:text="${contracts.endDate}">Doe</td>
    </tr>
</table>
</body>
</html>