<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="subcategory:${subcategories}">

        <td th:text="${subcategory.id}">123</td>
        <td th:text="${subcategory.code}">Jhon</td>
        <td th:text="${subcategory.name}">Doe</td>

    </tr>
</table>
</body>
</html>